{% macro achievement_icon(key) %}
<span class="achievement-icon" aria-hidden="true">
  {% if key == 'registration' %}
  <svg viewBox="0 0 24 24">
    <circle cx="12" cy="8" r="3.5"/>
    <path d="M5.5 20v-.8c0-2.8 2.6-4.7 6.5-4.7s6.5 1.9 6.5 4.7V20"/>
    <path d="M18.5 6.5 20 5"/>
    <path d="M20 5v2.2"/>
    <path d="M20 5h-2"/>
  </svg>
  {% elif key == 'first_ship' %}
  <svg viewBox="0 0 24 24">
    <path d="M4.5 16.5c0-4.8 3.4-8.8 7.5-8.8s7.5 4 7.5 8.8"/>
    <path d="M12 7.7V3.5"/>
    <path d="M9.2 5.6 12 3.5l2.8 2.1"/>
    <path d="M12 7.7v8.8"/>
    <path d="M9.8 20.5 12 19l2.2 1.5"/>
    <circle cx="12" cy="11.2" r="1.15"/>
  </svg>
  {% elif key == 'streak_7' %}
  <svg viewBox="0 0 24 24">
    <path d="M12 22s6-4.2 6-10.2C18 7.1 15.3 4.5 12 4.5S6 7.1 6 11.8C6 17.8 12 22 12 22Z"/>
    <path d="M12 22V13.5"/>
    <path d="M9.4 15.8 12 13.5l2.6 2.3"/>
  </svg>
  {% elif key == 'too_open' %}
  <svg viewBox="0 0 24 24">
    <path d="M3 20h18"/>
    <path d="M5 20V9.5L12 5l7 4.5V20"/>
    <path d="M9.5 20v-6h5v6"/>
    <path d="M9 12h1.5"/>
    <path d="M13.5 12H15"/>
    <path d="M12 5v3.5"/>
    <path d="M8.5 9h7"/>
  </svg>
  {% elif key == 'xp_100' %}
  <svg viewBox="0 0 24 24">
    <path d="M12 2.8l2.35 4.76 5.25.76-3.8 3.7.9 5.23L12 14.98l-4.7 2.47.9-5.23-3.8-3.7 5.25-.76L12 2.8Z"/>
    <path d="M12 14.98V22"/>
    <path d="M8.2 20.2 12 22l3.8-1.8"/>
  </svg>
  {% elif key == 'first_post' %}
  <svg viewBox="0 0 24 24">
    <path d="M7 4h7l4 4v12a1.5 1.5 0 0 1-1.5 1.5H7A1.5 1.5 0 0 1 5.5 19.5V5.5A1.5 1.5 0 0 1 7 4Z"/>
    <path d="M14 4v4h4"/>
    <path d="M8.5 12h7"/>
    <path d="M8.5 15.5h4.5"/>
    <path d="M16.2 16.2 20.5 20.5"/>
    <path d="M15.1 17.3l1.1-1.1"/>
  </svg>
  {% elif key == 'roast_done' %}
  <svg viewBox="0 0 24 24">
    <rect x="4.5" y="8.5" width="15" height="11" rx="3"/>
    <path d="M9 8.5V7a3 3 0 0 1 6 0v1.5"/>
    <path d="M8.5 13h1.8"/>
    <path d="M13.7 13h1.8"/>
    <path d="M9.8 16.2c.9.7 1.9 1 2.2 1s1.3-.3 2.2-1"/>
    <path d="M12 4.5V3"/>
    <path d="M8.2 5.2l.9 1.4"/>
    <path d="M15.8 5.2l-.9 1.4"/>
    <path d="M4.5 12H3"/>
    <path d="M21 12h-1.5"/>
  </svg>
  {% else %}
  <svg viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="7.5"/>
    <path d="M12 8.5v4l2.6 1.6"/>
  </svg>
  {% endif %}
</span>
{% endmacro %}
