Flask>=3.0.0
Flask-WTF>=1.2.1
Flask-SQLAlchemy>=3.1.1
Flask-Migrate>=4.0.7
Flask-Babel>=4.0.0
python-dotenv>=1.0.1
gunicorn>=23.0.0
openai>=1.40.0
pywebpush>=1.14.0
redis>=5.0.0
psycopg2-binary>=2.9.9
requests>=2.32.0
pypdf>=5.0.0
